Blue-bold {
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  font-family: Arial;
  color: #3366ff;
}
Red-bold {
font-weight: bold;
text-transform: capitalize;
text-align: left;
font-family: Arial;
color: #F80E0E;
}
Orange-bold {
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  font-family: Arial;
  color: #ff9900;
}
Orange {
  text-transform: capitalize;
  
  font-weight: normal;
  text-align: left;
  color: #993300;
}
Yellow {
  text-transform: capitalize;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  color: #FFFF00;
}
Red {
  text-transform: capitalize;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #993300;
}
fluorescent-orange {
  border-style: none;
  text-transform: capitalize;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #993300;
  background-color: #ffcc99;
}
green {
  text-transform: capitalize;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #009900;
}
green-bold {
  text-transform: capitalize;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  color: #009900;
}
green-Italic {
  text-transform: capitalize;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #009900;
  font-style: italic;
}
lien {
  text-transform: lowercase;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #000099;
  font-style: italic;
}
black-bold {
  text-transform: lowercase;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-style: bold;
}
black {
  text-transform: lowercase;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #000000;
  
}
DeepPink {
  text-transform: lowercase;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #FF1493;
  
}

Maroon{
  text-transform: lowercase;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #800000;
  
}

Purple{
  text-transform: lowercase;
  font-family: Arial;
  font-weight: normal;
  text-align: left;
  color: #800080;
  
}



 
